<template>
	<div>
 		<div class="row justify-content-around">
			<div class="col-md-10">
						<div class="card card-default" style="margin-top: 11px;">
							<div class="card-header">
							  <h3 class="card-title float-left">Categogy List</h3>
							  <router-link to="/add-category" class="btn btn-primary float-right">Add New Category</router-link>
							</div>
							            
							<!-- /.card-header -->
				            <div class="card-body">
				            	<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
				        	        <thead>
								        <tr>
								        	<th>Category ID</th>
								        	<th>Name</th>
								        	<th>Created at</th>
								        	<th>Action</th>
								        </tr>
								    </thead>
								    <tbody>
								    	<tr v-for="category in categoryList">
								    		<td>{{ category.id }}</td>
								    		<td>{{ category.cat_name }}</td>
								    		<td>{{ category.created_at }}</td>
								    		<td>
								    			<a href="" class="btn btn-primary btn-sm"><i class="far fa-edit"></i></a>
								    			<a href="" class="btn btn-warning btn-sm"><i class="far fa-trash"></i></a>
								    			<a href="" class="btn btn-danger btn-sm"><i class="far fa-eye"></i></a>
								    		</td>
								    	</tr>
								    </tbody>
							    </table>
							</div>
							<!-- /.card-body -->
						</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "List",
		mounted(){
			this.$store.dispatch("allCategory")
		},
		computed: {
			categoryList(){
				return this.$store.getters.getCategory
			}
		},

	}
</script>