<template>
	<div>
		<div class="row justify-content-around">
			<div class="col-md-6">
						<div class="card card-info" style="margin-top: 11px;">
							<div class="card-header">
							  <h3 class="card-title" style="text-align: center;">Add New Categogy</h3>
							</div>
							            
							<!-- /card-header -->
							<form role="form" @submit.prevent="addCategory">
								<div class="card-body">
								    <div class="form-group">
								      <label for="category_name">Category Name :</label>
								      <input type="name" class="form-control" name="cat_name" v-model="form.cat_name" placeholder="Enter name" :class="{ 'is-invalid': form.errors.has('cat_name') }">
								      <has-error :form="form" field="cat_name"></has-error>
								    </div>
								</div>
							  <!-- /card-body -->

							  <div class="card-footer">
							    <button type="submit" class="btn btn-info" style="color: #fff;">ADD</button>
							  </div>
							</form>
						</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "New",
		data(){
			return{
				form: new Form({
					cat_name: ''
				})
			}
		},

		methods: {
			addCategory(){
				this.form.post('/add-category')
					.then((response)=>{
						this.$router.push('/category')
						Toast.fire({
						  type: 'success',
						  title: 'Category Added Successfully',
						})
					})
					.catch(()=>{

					})
			}
		}
	}
</script>